.card-event-title {
  position: relative;
  padding: 10px !important;
  min-height: 50px;
  max-height: 50px;
  @extend .center-align;
  text-transform: uppercase;
  text-overflow: ellipsis;
  @extend .grey-text, .text-darken-3;
  span {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

@media #{$large-and-up}{
  .container {
    width: 80%;
  }
  .card-event-title {
    font-size: 12px;
    line-height: 12px;
  }

  .location {
    font-size: 12px;
    line-height: 12px;
    i {
      font-size: 15px;
    }
  }
}

@media #{$medium-only} {
  .card-event-title {
    font-size: 10px;
    line-height: 10px;
  }
  .location {
    font-size: 10px;
    line-height: 10px;
    i {
      font-size: 15px;
    }
  }

}

@media #{$small-and-down} {
  .card-event-title {
    font-size: 12px;
    line-height: 12px;
  }
}

.preview {
  width: 100%;
}

.event-card {
  img {
    max-height: 150px;
    min-height: 150px;
  }
}
.single-event {
  img {
    max-height: 500px;
  }
}

.btn-primary {
  background-color: $primary-color;
  &:hover {
    background-color: lighten($primary-color, 5%);
  }
}
