@charset "UTF-8";

@import 'styles/colors';
@import 'styles/icons-material-design';
@import 'styles/variable';
@import 'styles/normalize';
@import 'styles/global';
@import 'styles/grid';
@import 'styles/nav';
@import 'styles/typography';
@import "styles/buttons";
@import 'styles/cards';
@import 'styles/form/form';
@import 'styles/site';
body {
  background-color: #f2f2f2;
}


.date {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  @extend .white;
  width: 50px;
  height: 50px;
  .month {
    display: block;
    @extend .red, .lighten-1;
    @extend .center-align;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    padding: 5px 0;
    margin: 0px 0 0 0;
    text-transform: uppercase;
    @extend .white-text;
  }
  .day {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
}


.location {
  padding: 10px;
  min-width: 100%; 
  border-top: 1px solid #ddd;
  display: inline-block;
  @extend .grey-text, .text-darken-3;
  .info-hour {
    float: left;
  }
  .info-place {
    float: right;
  }
  span {
    width: 100%;
  }
  i {
    transform: translateY(25%);
  }
}

.nav {
  height: 122px;
  // background-color: $button-color;
}

.button-green {
  background-color: $button-color
}

.form-card {
  margin-top: 15px;
  @extend .white;
  padding: 20px;
}



@import url('https://fonts.googleapis.com/icon?family=Material+Icons');